<div class="flex flex-column">
  <span class="text-lg mb-4"></span>

  <mat-card>
    <mat-card-content>
      <div class="grid">
        <form class="grid" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

          <mat-form-field class="col-12 sm:col-12">
            <mat-label>Username</mat-label>
            <input
              matInput
              name="username"
              type="text"
              required
              formControlName="username"
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-12">
            <mat-label>Password</mat-label>
            <input
              matInput
              name="password"
              type="password"
              required
              formControlName="password"
            />
          </mat-form-field>
        </form>
      </div>

      <div class="flex justify-content-between">
        <div class="flex justify-content-end mt-5">
          <a routerLink="/auth/new-account">Create new account</a>
        </div>
        <span></span>
        <button
          mat-flat-button
          color="primary"
          (click)="onSubmit()"
        >
          <mat-icon>person</mat-icon>
          Login
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

